.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: 0.1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #eee;
  margin-bottom: 0.5em;
  border-radius: 4px;
  display: flex;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: block;
  font-size: small;
  color: white;
  padding: 1em 0.7em 0 0.7em;
  background-color: #405061;
  min-width: 16px;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.heroes .details-col {
  padding: 0.3em 0;
}

.heroes .details {
  font-size: 12px;
  font-weight: 100;
}
