<div *ngIf="hero">
    <h2>{{ hero.name | uppercase }} Details:</h2>
    <div><span>id: </span>{{ hero.id }}</div>
    <div>
        <label for="hero-name-field">Hero name: </label>
        <input type="text" id="hero-name-field" placeholder="name" [(ngModel)]="hero.name">
    </div>
    <div>
        <label for="hero-power-field">Hero power: </label>
        <input type="text" id="hero-power-field" placeholder="power" [(ngModel)]="hero.power">
    </div>
    <button type="button" (click)="goBack()">Назад</button>
    <button type="button" (click)="save()">Сохранить</button>
</div>