<div *ngIf="hero">
    <h2>Детали {{ hero.name | uppercase }}:</h2>
    <div><span>id: </span>{{ hero.id }}</div>
    <div>
        <label for="hero-name-field">Имя героя: </label>
        <input type="text" id="hero-name-field" placeholder="name" [(ngModel)]="hero.name">
    </div>
    <div>
        <label for="hero-power-field">Сила героя: </label>
        <input type="text" id="hero-power-field" placeholder="power" [(ngModel)]="hero.power">
    </div>
    <button type="button" (click)="goBack()">Назад</button>
    <button type="button" (click)="save()">Сохранить</button>
</div>