<h2>Представленные герои</h2>

<label for="sorting-field">Сортировать </label>
<select [ngModel]="sortOption" (ngModelChange)="sortBy($event)" name="sorting" id="sorting-field">
  <option value='id_asc'>ID (asc)</option>
  <option value='id_desc'>ID (desc)</option>
  <option value='power'>Power</option>
</select>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
  (click)="delete(hero)">x</button>
  </li>
</ul>

<!-- Add new Hero-->
<div>
  <label for="new-hero">Имя будущего героя: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Добавить
  </button>
  <button type="button" class="add-button green" (click)="generate()">
    Сгенерировать героя
  </button>
</div>